@font-face {
  font-family: "Proximanova opt";
  src: url("/assets/font/Proxima-Nova-Font/Proxima Nova Font.otf") format("opentype");
  font-family: "Amerigo BT Roman";
  src: url("/assets/font/Amerigo BT Roman/");
}
body {
  background-color: #fff;
  font-family: "Proximanova opt", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-custom {
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

.heading-font {
  font-family: "Amerigo-bt roman opt";
}

.title-font {
  font-family: "Proximanova opt";
}

.main-nav {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 !important;
}
.main-nav .nav-left .navbar-nav .nav-item {
  margin-right: 20px;
  font-size: 17px;
  font-weight: 400;
}
.main-nav .nav-left .navbar-nav .nav-item .drop-down-content {
  display: none;
  width: 330px;
  position: absolute;
  left: -115px;
  z-index: 1000;
}
.main-nav .nav-left .navbar-nav .nav-item .drop-down-content .card {
  padding: 40px 20px;
}
.main-nav .nav-left .navbar-nav .nav-item .drop-down-content .card .card-section-one-hover .card-icon-1 {
  visibility: hidden;
}
.main-nav .nav-left .navbar-nav .nav-item .drop-down-content .card .card-section-one-hover:hover .card-icon-1 {
  visibility: visible;
}
.main-nav .nav-left .navbar-nav .nav-item .drop-down-content .card .card-title {
  color: #292a2d;
  font-size: 22px;
  line-height: 26px;
}
.main-nav .nav-left .navbar-nav .nav-item .drop-down-content .card .card-text {
  font-size: 17px;
  line-height: 22px;
  color: #4c4d5f;
}
.main-nav .nav-left .navbar-nav .nav-item:hover .drop-down-content {
  display: block;
}
.main-nav .nav-right form .btn-1 {
  margin-left: 17px;
  padding: 12px 23px 9px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  --bs-btn-border-width: none;
  border: 1px solid #00b289;
  border-radius: 4px;
  font-size: 13px;
}
.main-nav .nav-right form .btn-1:hover {
  background-color: #00a37e;
}
.main-nav .nav-right form .btn-1.btn {
  color: #00b289;
}
.main-nav .nav-right form .btn-1.btn:hover {
  color: #fff;
}
.main-nav .nav-right form .btn-2 {
  margin-left: 17px;
  padding: 12px 27px 9px;
  background-color: #00b289;
  border: 1px solid #00b289;
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.main-nav .nav-right form .btn-2:hover {
  background-color: #00a37e;
}

#accodionFlushExample-2 .accordion-item button {
  font-size: 16px;
  line-height: 19px;
}

.main-section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 40px;
}
@media only screen and (max-width: 576px) {
  .main-section {
    padding-top: 10px;
  }
}
.main-section .blue-shape {
  position: absolute;
  left: 160px;
  top: 20px;
  right: 0;
  z-index: -1;
  display: block;
  width: 70vw;
  height: 80vh;
  background-color: #f2faff;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}
.main-section .content-pricing {
  width: 55%;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 576px) {
  .main-section .content-pricing {
    width: 80%;
    margin-left: 20px;
    margin-right: none !important;
  }
}
.main-section .content-pricing .pricing-title h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-family: Amerigo-bt roman opt;
}
@media only screen and (max-width: 576px) {
  .main-section .content-pricing .pricing-title h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 576px) {
  .main-section .content-pricing .pricing-button {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}
.main-section .content-pricing .pricing-button .month {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.22px;
  text-transform: uppercase;
}
.main-section .content-pricing .pricing-button .free-icon {
  position: absolute;
  right: -20px;
  top: -35px;
}
.main-section .content-pricing .pricing-button .yearly {
  position: relative;
  opacity: 0.65;
  color: #4c4d5f;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.22px;
  text-transform: uppercase;
}
.main-section .content-pricing .pricing-button .toggle_box {
  width: 50px;
  height: 29px;
  background-color: #01b289;
  border-radius: 200px;
  position: relative;
  margin-left: 20px;
  margin-right: 30px;
  cursor: pointer;
}
.main-section .content-pricing .pricing-button .toggle_box input[type=checkbox] {
  opacity: 0;
  width: 100%;
  height: 30px;
}
.main-section .content-pricing .pricing-button .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 200px;
  background-color: aliceblue;
  top: 2px;
  left: 0px;
  margin-left: 2px;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.main-section .card {
  height: 914px;
}
@media only screen and (max-width: 576px) {
  .main-section .card {
    height: unset;
  }
}
.main-section .card .btn {
  width: 100%;
  background-color: #00b289;
  padding: 22px 25px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.main-section .card .btn:hover {
  background-color: #00a37e;
}
.main-section .card .card-body {
  padding: 20% 14%;
}
@media only screen and (max-width: 576px) {
  .main-section .card .card-body {
    padding: 9% 5%;
  }
}
.main-section .card .card-body .card-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 26px;
  line-height: 1.4;
  font-weight: 600;
  color: rgb(76, 77, 95);
}
.main-section .card .card-body .card-intro {
  color: rgb(76, 77, 95);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-width: 90%;
}
.main-section .card .card-body .price-box {
  margin-top: 36px;
  border-bottom: 2px solid #01b289;
}
.main-section .card .card-body .price-box .price-symbol {
  position: relative;
  top: -12px;
  margin-right: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 30px;
  line-height: 28px;
  font-weight: 400;
  height: 28px;
  width: 17.8px;
  color: rgb(76, 77, 95);
}
.main-section .card .card-body .price-box .price-amount {
  position: relative;
  top: -4px;
  font-size: 60px;
  font-weight: 700;
  line-height: 28px;
  margin-right: 10px;
  color: rgb(76, 77, 95);
}
.main-section .card .card-body .price-box .price-month {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 26px;
  font-weight: 400;
  margin-left: 15px;
}
.main-section .card .card-body .price-box .bill_year {
  font-family: "Proximanova opt", sans-serif;
  color: #4c525a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.main-section .card .card-body .feature-list {
  padding-top: 40px;
}
.main-section .card .card-body .feature-list .feature-content {
  padding-bottom: 18px;
}
.main-section .card .card-body .feature-list .feature-content img {
  width: 12px;
  height: 8px;
  margin-right: 10px;
}
.main-section .card .card-body .feature-list .feature-content .feature-description {
  color: rgb(76, 77, 95);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.popular {
  position: relative;
  overflow: hidden;
}
.popular .popular-tag {
  position: absolute;
  padding: 11px 11px;
  top: 50px;
  left: 100px;
  width: 360px;
  background-color: #01b289;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popular .popular-tag .title {
  font-family: "Proximanova opt", sans-serif;
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.title-box .title h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
  font-family: Amerigo-bt roman opt;
}
@media only screen and (max-width: 576px) {
  .title-box .title h2 {
    font-size: 24px;
    line-height: 34px;
  }
}

.add-on {
  margin-bottom: 10px;
  padding: 10px 40px 5px;
  -webkit-box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.05);
          box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.05);
}
.add-on-box .left-add .heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: rgb(76, 77, 95);
}
.add-on-box .left-add .heading-description {
  font-size: 1rem;
  color: rgb(76, 77, 95);
}
.add-on-box .left-add .heading-description .learn-more {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.add-on-box .left-add .learn-more {
  color: #00b289;
  font-size: 14px;
  font-weight: 700;
}
.add-on-box .left-add .learn-more i {
  font-size: 13px;
}
.add-on-box .right-add .right-heading {
  padding-top: 36px;
  padding-bottom: 36px;
  color: rgb(76, 77, 95);
}
@media only screen and (max-width: 576px) {
  .add-on-box .right-add .right-heading {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 25px;
  }
}
.add-on-box .right-add .right-heading h2 {
  font-weight: 200;
}
.add-on-box .right-add .right-heading .month-text {
  font-size: 14px;
  color: rgb(76, 77, 95);
}

.buisness-bg {
  background-color: #f2faff;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
@media only screen and (max-width: 576px) {
  .buisness-bg {
    width: 100%;
  }
}
.buisness-bg .buisness-box {
  padding: 50px 48px;
}
@media only screen and (max-width: 576px) {
  .buisness-bg .buisness-box {
    padding: 50px 45px;
  }
}
.buisness-bg .buisness-box .buisness-title h1 {
  font-family: "Amerigo-bt roman opt", italic, sans-serif;
  font-size: 2.75rem;
  line-height: 130%;
  color: rgb(76, 77, 95);
  font-weight: 300;
}
@media only screen and (max-width: 576px) {
  .buisness-bg .buisness-box .buisness-title h1 {
    font-size: 2.1rem;
    text-align: center;
    line-height: 50px;
  }
}
.buisness-bg .buisness-box .buisness-title h1 span {
  color: #00b289;
}
.buisness-bg .buisness-box .free-button .btn {
  background-color: #00b289;
  padding: 10px 30px;
}
.buisness-bg .buisness-box .free-button .btn:hover {
  background-color: #00a37e;
}

.queshion-heading h2 {
  color: #00b289;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
@media only screen and (max-width: 576px) {
  .queshion-heading h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

#accordionFlushExample {
  padding: 0px 190px;
}
@media only screen and (max-width: 576px) {
  #accordionFlushExample {
    padding: unset;
  }
}
#accordionFlushExample .accordion-item {
  border: none;
}
#accordionFlushExample .accordion-item button {
  font-size: 25px;
  line-height: 30px;
  color: #4c525a;
  font-weight: 700;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media only screen and (max-width: 576px) {
  #accordionFlushExample .accordion-item button {
    padding-right: 20px;
    padding-left: 30px;
  }
}
#accordionFlushExample .accordion-item button:hover {
  color: #00a37e;
}

.footer-wrapper {
  margin-top: 150px;
  margin-bottom: 90px;
}
@media only screen and (max-width: 576px) {
  .footer-wrapper {
    margin-top: 80px;
  }
}
.footer-wrapper .product-section .product-heading {
  margin-bottom: 40px;
  color: #4c4d5f;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}
.footer-wrapper .product-section .list-section {
  margin-bottom: 25px;
}
.footer-wrapper .product-section .list-section a {
  margin-bottom: 1px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.11px;
  color: #4c4d5f;
}
.footer-wrapper .product-section .sub-list span {
  color: #00b289;
}
.footer-wrapper .product-section .sub-list a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.11px;
  color: #4c4d5f;
}
.footer-wrapper .free-section .free-heading {
  margin-bottom: 40px;
  color: #4c4d5f;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}
.footer-wrapper .free-section .first-section {
  margin-bottom: 25px;
}
.footer-wrapper .free-section .first-section a {
  margin-bottom: 1px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.11px;
  color: #4c4d5f;
}
.footer-wrapper .free-section .self-section {
  margin-bottom: 40px;
}
.footer-wrapper .free-section .self-section a {
  margin-bottom: 1px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.11px;
  color: #4c4d5f;
}
.footer-wrapper .free-section .template .template-heading {
  margin-bottom: 20px;
  color: #4c4d5f;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}
.footer-wrapper .free-section .template .accordion {
  --bs-accordion-border-width: none;
}
.footer-wrapper .free-section .template .accordion .accordion-item .accordion-header .accordion-button {
  font-weight: 500;
  line-height: 1.2;
  color: #4c4d5f;
  padding: 6px 9px;
}
.footer-wrapper .free-section .template .accordion .accordion-item .accordion-header .accordion-button::after {
  margin-left: 3px;
}
.footer-wrapper .bonsai-section {
  margin-left: 120px;
}
@media only screen and (max-width: 576px) {
  .footer-wrapper .bonsai-section {
    margin-left: 15px;
  }
}
.footer-wrapper .bonsai-section .bonsai-heading {
  margin-bottom: 40px;
  color: #4c4d5f;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}
.footer-wrapper .bonsai-section a {
  margin-bottom: 1px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.11px;
  color: #4c4d5f;
}
.footer-wrapper .bonsai-section .list-section .accordion {
  --bs-accordion-border-width: none;
}
.footer-wrapper .bonsai-section .list-section .accordion .accordion-item .accordion-header .accordion-button {
  font-weight: 500;
  line-height: 1.2;
  color: #4c4d5f;
  padding: 6px 9px;
}
.footer-wrapper .bonsai-section .list-section .accordion .accordion-item .accordion-header .accordion-button::after {
  margin-left: 3px;
}

#accordionPanelsStayOpenExample button {
  background-color: #fff;
  border: none;
}