.main-nav {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 !important;

  .nav-left {
    .navbar-nav {
      .nav-item {
        margin-right: 20px;
        font-size: 17px;
        font-weight: 400;

        .drop-down-content {
          display: none;
          width: 330px;
          position: absolute;
          left: -115px;
          z-index: 1000;
          .card {
            padding: 40px 20px;

            .card-section-one-hover {
              .card-icon-1 {
                visibility: hidden;
              }
              &:hover {
                .card-icon-1 {
                  visibility: visible;
                }
              }
            }

            .card-title {
              color: #292a2d;
              font-size: 22px;
              line-height: 26px;
            }
            .card-text {
              font-size: 17px;
              line-height: 22px;
              color: #4c4d5f;
            }
          }
        }

        &:hover {
          .drop-down-content {
            display: block;
          }
        }
      }
    }
  }

  .nav-right {
    form {
      .btn-1 {
        margin-left: 17px;
        padding: 12px 23px 9px;
        line-height: 16px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        --bs-btn-border-width: none;
        border: 1px solid #00b289;
        border-radius: 4px;
        font-size: 13px;

        &:hover {
          background-color: $button-hover-color;
        }

        &.btn {
          color: #00b289;
          &:hover {
            color: $white-color;
          }
        }
      }

      .btn-2 {
        margin-left: 17px;
        padding: 12px 27px 9px;
        background-color: $button-color;
        border: 1px solid #00b289;
        border-radius: 4px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.6px;
        text-transform: uppercase;

        &:hover {
          background-color: $button-hover-color;
        }
      }
    }
  }
}

#accodionFlushExample-2{
  .accordion-item{
    button{
      font-size: 16px;
      line-height: 19px;
      
    }
  }
}