@font-face {
  font-family: "Proximanova opt";
  src: url("/assets/font/Proxima-Nova-Font/Proxima\ Nova\ Font.otf");
}

body {
  background-color: $white-color;
  font-family:"Proximanova opt",sans-serif ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-custom {
  width: 100%;
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
}
