@font-face {
  font-family: "Proximanova opt";
  src: url("/assets/font/Proxima-Nova-Font/Proxima\ Nova\ Font.otf")
    format("opentype");
  font-family: "Amerigo BT Roman";
  src: url("/assets/font/Amerigo\ BT\ Roman/");
}

body {
  background-color: $white-color;
  font-family: "Proximanova opt", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-custom {
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;

  padding-left: 20px;
  padding-right: 20px;
}
a {
  text-decoration: none;
}

.heading-font {
  font-family: "Amerigo-bt roman opt";
}

.title-font {
  font-family: "Proximanova opt";
}
